.phonebook_wrapper {
  display: flex;
  justify-content: center;
}

.phonebook_form {
  display: grid;
  justify-items: start;
  gap: 8px;
  margin-bottom: 20px;
}

.input {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid gray;
}

.button {
  background-color: rgb(143, 224, 143);
  width: 200px;
  height: 30px;
  border-radius: 7px;
}
