.phonebook_wrapper {
  display: flex;
  justify-content: center;
}

.phonebook_form {
  display: grid;
  justify-items: start;
  gap: 8px;
  margin-bottom: 20px;
}

.input {
  width: 200px;
  height: 20px;
  border-radius: 5px;
}

.button {
  background-color: rgba(26, 124, 13, 0.822);
  color: aliceblue;
}
