.contacts_wrapper {
  display: grid;
  justify-items: center;
}

.contact_items {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contactList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: rgb(250, 92, 92);
  width: 100px;
  height: 20px;
  border-radius: 7px;
}

.contactList__item {
  display: flex;
  justify-content: center;
}

.contactList__name {
  margin-right: 100px;
}
