.homepage {
  display: grid;
  justify-content: center;
  /* align-items: center; */
  padding: 50px;
}

.title {
  color: gray;
  font-size: 30px;
  margin-bottom: 50px;
}

.register_link {
  font-size: 40px;
  color: black;
  font-weight: bold;
  display: inline-flex;
  /* text-decoration: none; */
  justify-content: center;
}
